<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839222435280-dqfslkm7kqpn07gjuihuq7e766s1t3hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839222435280-dqfslkm7kqpn07gjuihuq7e766s1t3hl</string>
	<key>API_KEY</key>
	<string>AIzaSyC18wbY6m93yfgwvcv0mNRQbwI2OCajdOs</string>
	<key>GCM_SENDER_ID</key>
	<string>839222435280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MSMITE.UChef</string>
	<key>PROJECT_ID</key>
	<string>uchef-8504b</string>
	<key>STORAGE_BUCKET</key>
	<string>uchef-8504b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839222435280:ios:0da2d8149a17b6bf532dd5</string>
</dict>
</plist>